<div class="from-head">
        <img src="../../assets/que.png">
        <h3>Why get Home from OyeHomes</h3>
</div>


<div class="container management">
    <!--management row1-->
    <div>
        <img src="../../assets/full_management.png">
        <h4>Full Management</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <!--management row1-->
    <!--management row1-->
    <div>
            <img src="../../assets/full_management.png">
            <h4>Accompanied Viewings</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <!--management row1-->
    <!--management row1-->
    <div>
            <img src="../../assets/full_management.png">
            <h4>Leagal Tenancy Agreement Compilation</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <!--management row1-->
</div> 

<div class="container management">
        <!--management row1-->
        <div>
            <img src="../../assets/full_management.png">
            <h4>Full Management</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <!--management row1-->
        <!--management row1-->
        <div>
                <img src="../../assets/full_management.png">
                <h4>Accompanied Viewings</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <!--management row1-->
        <!--management row1-->
        <div>
                <img src="../../assets/full_management.png">
                <h4>Leagal Tenancy Agreement Compilation</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <!--management row1-->
    </div>  
