<div class="container">
  <h2 class="p-40 orange cont-middle">Testimonials</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row testi">
          <div class="col-sm-2">
            <img class="d-block w-100" src="../../assets/images/testimonials/blog_Sunil_Sir.png" alt="testimonial1">
          </div>
          <div class="col-sm-10">
            <h4 class="test_title">Sunil More Shivaji Rao</h4>
            <h5 class="test_designation">CEO, Founder, OyeSpace</h5>
            <p class="test_desc">He says “the vision of OyeSpace is: To Build and Deploy Full Spectrum Innovative
              Solutions in Property Management ensuring customers are delighted with these solutions that help them get
              peace of mind and see appreciated property values, and while doing all this, making OyeSpace synonymous
              with property."</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row testi">

          <div class="col-sm-2">
            <img class="d-block w-100" src="../../assets/images/testimonials/blog_Ram_Sir.png" alt="testimonial2">
          </div>
          <div class="col-sm-10">
            <h4 class="test_title">Ramteja Arigela</h4>
            <h5 class="test_designation">Co Founder, Director</h5>
            <p class="test_desc">We’ve contributed to the creation of an industry from scratch.We did it by being
              relentless and exposing ourselves to uncertainty. This is how you build resilience.
            </p>
          </div>

        </div>
      </div>

      <div class="item">
        <div class="row testi">

          <div class="col-sm-2">
            <img class="d-block w-100" src="../../assets/images/testimonials/blog_Ram_Sir.png" alt="testimonial2">
          </div>
          <div class="col-sm-10">
            <h4 class="test_title">Ramteja Arigela</h4>
            <h5 class="test_designation">Co Founder, Director</h5>
            <p class="test_desc">We’ve contributed to the creation of an industry from scratch.We did it by being
              relentless and exposing ourselves to uncertainty. This is how you build resilience.
            </p>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>